<%- include('../partials/header')%>

  <form action="/stores" method="POST">
    <body>
        <a href="/stores/show"> Shopping Cart</a>
        <div class="container">
          <div class="name"><strong>Nvidia Geforce GTX 3060TI</strong></div>
          <div class= "cost">$1,299</div>
          <a href="/stores/show" id="addCart">Add To Cart</a>
        </div>
       <link rel="stylesheet" href="stylesheets/style.css">
       <div class="container">
        <div class="profile-picture"></div>
        <div class="name"><strong>Corsair Vengeance 16GB Ram</strong></div>
        <div class= "cost">$120</div>
        <a href="/stores/show" id="addCart">Add To Cart</a>
      </div>
      <div class="container">
        <div class="profile-picture"></div>
        <div class="name"><strong>Amd Ryzen 9 3900x</strong></div>
        <div class= "cost">$400</div>
        <a href="/stores/show" id="addCart">Add To Cart</a>
        <a href="/products/admin" id="newItem">Add an Item</a>
      </div>
      </body>
    </label><br>
    <label>
    </label><br>
    <label>
    </label><br>
    
  <%- include('../partials/footer')%>