body {
  
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

#myTitle {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 5px 14px;
 }

a {
  display: block;
  padding: 8px;
 text-decoration: #fff;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background-color: teal;
  color: #fff;
 }
body {
  gap: 5px;
  height: 500px;
  margin: 0;
  font-family: Helvetica;
  text-align: center;
  border-color: black 1px;
  }

.cost {
 
  font-size: 10px;
}


.picture {
  background-color: black;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
