<%- include('../partials/header') %>
<link rel="stylesheet" href="stylesheets/style.css">
<form id="add-product" method="POST"
action="/products" method="POST">
<label>Product Info:</label>
    Name:<input name ="name" type="text">
    Price:<input name ="price" type="number">
<input type="submit" value="Create Product"></form>
</form>
<%- include('../partials/footer') %>